:root {
  --color-white: #fff;
  --color-green: #6c8f79;
  --color-light-grey: #c1c1c1;
  --color-grey: #565656;
  --color-dark-grey: #626262;
  --color-orange: #dc8812;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bodoni Moda", serif;
}

div.container-header {
  background-color: var(--color-light-grey);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  color: var(--color-dark-grey);
  background-color: var(--color-white);
  /* box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.1); */
  border-radius: 25px;
}
.menu-mobile {
  width: 40px;
  height: 100%;
  margin: 15px 0 0 10px;
  position: relative;
}
.menu-mobile::before,
.menu-mobile::after {
  display: block;
  content: "";
  width: 100%;
  height: 2.5px;
  margin: 2px 0;
  position: absolute;
  left: 0;
  background-color: var(--color-light-grey);
}
.menu-mobile::before {
  top: 0;
}
.menu-mobile::after {
  bottom: 0;
}
nav {
  display: none;
}

li {
  list-style: none;
}

.lable p {
  font-size: 18px;
  text-transform: uppercase;
}
#language-select {
  font-size: 12px;
  font-family: "Bodoni Moda", serif;
  background: var(--color-white);
  color: var(--color-dark-grey);
  border: none;
  outline: 0.1px solid var(--color-white);
  text-transform: uppercase;
}
#language-select:hover {
  cursor: pointer;
}

section.collection-2022 {
  height: 600px;
  color: var(--color-white);
  text-align: center;
  background-image: url(./images-main/mobile/backgroung_main-mobile.png);
  background-size: cover;
  background-position-y: -40px;
  background-repeat: no-repeat;
}
section.collection-2022 h1 {
  padding-top: 130px;
  margin: 0 15px 40px 15px;
}
div.search {
  position: relative;
}
input.search {
  position: absolute;
  top: 4px;
  left: 10%;
  height: 25px;
  width: 80%;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  font-family: "Bodoni Moda", serif;
  color: var(--color-dark-grey);
  border: none;
  border-radius: 15px 0 15px 0;
  outline: 0.1px solid var(--color-white);
}
input.search::placeholder {
  font-size: 8px;
  color: var(--color-light-grey);
}
button.shop-now,
button.search {
  font-family: "Bodoni Moda", serif;
  color: var(--color-white);
  background: var(--color-green);
  border-radius: 15px 0 15px 0;
  border: none;
}
button.search {
  position: absolute;
  top: 3px;
  right: 9%;
  padding: 3px 10px;
}
button.search svg {
  width: 10px;
  fill: var(--color-white);
}
button.shop-now {
  width: 70%;
  margin-top: 60px;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.section h2 {
  padding: 50px 0 15px 20px;
  font-size: 32px;
  text-align: left;
}
.section div.container-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section div.container-img img {
  width: 100%;
}

.section .description {
  margin: 20px 30px;
}
.section p {
  margin-bottom: 15px;
  color: var(--color-grey);
  font-family: "Lora", serif;
  font-size: 12px;
  line-height: 16px;
}

.section .show-all {
  text-align: right;
}
.section .show-all a {
  padding-right: 12px;
  font-size: 20px;
  font-weight: 500;
}

.fashion-collection h2,
.fashion-collection div.container-img div.year {
  background: var(--color-white);
  color: var(--color-orange);
}

.fashion-collection div.container-img div.year {
  position: absolute;
  top: 0;
  right: 30px;
  padding: 0 5px;
  font-size: 32px;
}
.fashion-collection div.container-img div.year div {
  line-height: 40px;
}

.show-all a:link,
.show-all a:visited,
.show-all a:hover,
.show-all a:active {
  color: var(--color-orange);
}

.swimwear h2 {
  font-size: 42px;
  padding-bottom: 0;
}

.swimwear h2,
.swimwear a:link,
.swimwear a:visited,
.swimwear a:hover,
.swimwear a:active {
  color: var(--color-green);
}
.classic h2 {
  font-size: 64px;
  padding-bottom: 0;
}

.classic h2,
.classic a:link,
.classic a:visited,
.classic a:hover,
.classic a:active {
  color: var(--color-dark-grey);
}

.new-collection {
  position: relative;
  width: 100%;
  min-height: 560px;
  margin-top: 100px;
  background-color: var(--color-white);
  background-image: url(./images-main/mobile/bg-collectio-mobile.png);
  background-size: cover;
  background-position-y: -40px;
}

.new-collection h2,
.sale h2 {
  font-size: 48px;
  color: var(--color-white);
}
.new-collection h2 {
  margin: 0 20px;
  padding-top: 50px;
}
.new-collection .shop-now {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
}

.sale {
  position: relative;
  margin-top: 120px;
}
.sale .description {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  padding: 20px;
  background: var(--color-white);
}
.sale h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translateX(-50%);
}
.sale .description h3,
.sale .description strong {
  color: var(--color-orange);
  text-transform: uppercase;
}
.sale .description h3 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
.sale .description button {
  margin-top: 0px;
  width: 100%;
}

.ordering {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 0 31px;
  color: var(--color-green);
}
.ordering div {
  margin-bottom: 20px;
}
.ordering h2 {
  padding-bottom: 20px;
}
.ordering .icon {
  margin-bottom: 30px;
}
.ordering p {
  margin-bottom: 10px;
  padding: 0 30px;
  font-size: 12px;
  line-height: 16px;
}
.ordering .icon img {
  width: 60px;
}
.delivery {
  margin-top: 230px;
}
.delivery h2 {
  font-size: 45px;
}
.delivery h3 {
  margin-bottom: 10px;
  font-size: 15px;
}
.how-to-order h2 {
  font-size: 32px;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding: 10px 0;
  margin: 0 auto;
}

.dots .dot {
  width: 25px;
  height: 25px;
  background-color: var(--color-light-grey);
  border: 4px solid var(--color-green);
  border-radius: 50%;
}
.dots .active-dot {
  background-color: var(--color-green);
}
/* .slide-img {
  width: 100vw;
} */
div.slide-img img {
  margin: 30px 0;
  width: 100%;
}

@media screen and (max-width: 300px) {
  .fashion-collection h2,
  .fashion-collection div.container-img div.year {
    font-size: 24px;
  }
  .fashion-collection div.container-img div.year div {
    line-height: 32px;
  }
  .section .description {
    margin: 15px 20px;
  }
  .new-collection h2,
  .sale h2 {
    font-size: 38px;
  }
  .sale .description h3 {
    font-size: 14px;
    line-height: 18px;
  }
  .ordering p {
    padding: 0 10px;
  }
  .ordering .icon img {
    width: 50px;
  }
  .delivery {
    margin-top: 300px;
  }
  .delivery h2 {
    font-size: 32px;
  }
  .how-to-order h2 {
    font-size: 24px;
  }
  .dots .dot {
    width: 15px;
    height: 15px;
    border-width: 3px;
  }
}
@media screen and (min-width: 300px) {
  section.collection-2022 h1 {
    font-size: 30px;
    margin-bottom: 70px;
  }
  input.search {
    height: 40px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  input.search::placeholder {
    font-size: 12px;
  }
  button.search {
    height: 42px;
  }
  button.shop-now {
    margin-top: 80px;
  }
}

@media screen and (min-width: 400px) {
  section.collection-2022 h1 {
    padding-top: 150px;
  }
  main p {
    font-size: 18px;
    line-height: 19px;
  }
}
@media screen and (min-width: 500px) {
  section.collection-2022 h1 {
    padding-top: 200px;
  }
}

.hidden {
  display: none;
}
