:root {
  --color-white: #fff;
  --color-green: #6c8f79;
  --color-light-grey: #c1c1c1;
  --color-grey: #565656;
  --color-dark-grey: #626262;
  --color-orange: #dc8812;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bodoni Moda", serif;
}

div.container-header {
  background-color: var(--color-light-grey);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  color: var(--color-dark-grey);
  background-color: var(--color-white);
  /* box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.1); */
  border-radius: 25px;
}
.menu-mobile {
  width: 40px;
  height: 100%;
  margin: 15px 0 0 10px;
  position: relative;
}
.menu-mobile::before,
.menu-mobile::after {
  display: block;
  content: "";
  width: 100%;
  height: 2.5px;
  margin: 2px 0;
  position: absolute;
  left: 0;
  background-color: var(--color-light-grey);
}
.menu-mobile::before {
  top: 0;
}
.menu-mobile::after {
  bottom: 0;
}
nav {
  display: none;
}

li {
  list-style: none;
}

.lable p {
  font-size: 18px;
  text-transform: uppercase;
}
#language-select {
  font-size: 12px;
  font-family: "Bodoni Moda", serif;
  background: var(--color-white);
  color: var(--color-dark-grey);
  border: none;
  outline: 0.1px solid var(--color-white);
  text-transform: uppercase;
}
#language-select:hover {
  cursor: pointer;
}

section.collection-2022 {
  height: 600px;
  color: var(--color-white);
  text-align: center;
  background-image: url(./images-main/mobile/backgroung_main-mobile.png);
  background-size: cover;
  background-position-y: -40px;
  background-repeat: no-repeat;
}
section.collection-2022 h1 {
  padding-top: 130px;
  margin: 0 15px 40px 15px;
}
div.search {
  position: relative;
}
input.search {
  position: absolute;
  top: 4px;
  left: 10%;
  height: 25px;
  width: 80%;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  font-family: "Bodoni Moda", serif;
  color: var(--color-dark-grey);
  border: none;
  border-radius: 15px 0 15px 0;
  outline: 0.1px solid var(--color-white);
}
input.search::placeholder {
  /* padding-left: 15px; */
  font-size: 8px;
  color: var(--color-light-grey);
}
button.shop-now,
button.search {
  font-family: "Bodoni Moda", serif;
  color: var(--color-white);
  background: var(--color-green);
  border-radius: 15px 0 15px 0;
  border: none;
}
button.search {
  position: absolute;
  top: 3px;
  right: 9%;
  padding: 3px 10px;
}
button.search svg {
  width: 10px;
  fill: var(--color-white);
}
button.shop-now {
  width: 70%;
  margin-top: 60px;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.fashion-collection {
}

.section h2 {
  padding: 50px 0 15px 20px;
  font-size: 32px;
  text-align: left;
}
.section div.container-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section div.container-img img {
  width: 100%;
}

.section .description {
  margin: 20px 30px;
}
.section p {
  margin-bottom: 15px;
  color: var(--color-grey);
  font-family: "Lora", serif;
  font-size: 12px;
  line-height: 16px;
}

.section .show-all {
  text-align: right;
}
.section .show-all a {
  padding-right: 12px;
  font-size: 20px;
  font-weight: 500;
}

.fashion-collection h2,
.fashion-collection div.container-img div.year {
  background: var(--color-white);
  color: var(--color-orange);
}

.fashion-collection div.container-img div.year {
  position: absolute;
  top: 0;
  right: 30px;
  padding: 0 5px;
  font-size: 32px;
}
.fashion-collection div.container-img div.year div {
  line-height: 40px;
}

.show-all a:link,
.show-all a:visited,
.show-all a:hover,
.show-all a:active {
  color: var(--color-orange);
}
.show-all a:hover {
}

.swimwear h2 {
  font-size: 42px;
  padding-bottom: 0;
}

.swimwear h2,
.swimwear a:link,
.swimwear a:visited,
.swimwear a:hover,
.swimwear a:active {
  color: var(--color-green);
}

@media screen and (max-width: 300px) {
  .fashion-collection h2,
  .fashion-collection div.container-img div.year {
    font-size: 24px;
  }
  .fashion-collection div.container-img div.year div {
    line-height: 32px;
  }
  .section .description {
    margin: 15px 20px;
  }
}
@media screen and (min-width: 300px) {
  section.collection-2022 h1 {
    /* line-height: 50px; */
    font-size: 30px;
    margin-bottom: 70px;
  }
  input.search {
    height: 40px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  input.search::placeholder {
    font-size: 12px;
  }
  button.search {
    /* top: 0px; */
    height: 42px;
  }
  button.shop-now {
    margin-top: 80px;
  }
}

@media screen and (min-width: 400px) {
  section.collection-2022 h1 {
    padding-top: 150px;
  }
  main p {
    font-size: 15px;
    line-height: 19px;
  }
}
@media screen and (min-width: 500px) {
  section.collection-2022 h1 {
    padding-top: 200px;
  }
}

.hidden {
  display: none;
}
